:root {
    --purple: #8986CA;
    --teal: #008C95;
    --grey: #63666A;

    --light-grey: rgb(210, 210, 210);

    --dark-grey: rgb(100, 100, 100);

    --nav-height: calc(1rem + 20px);
    
    --content-padding: 10vw
}

* {
    font-family: 'Work Sans', sans-serif;
    color: var(--dark-grey);
    font-weight: 300;
    letter-spacing: 1px;
    box-sizing: border-box;
}

strong, b {
    font-weight: 500;
}

html {
}

body {
    margin: 0;
}



:is(h1, h2, h3, h4, h5, h6, p) {
    margin: 0;
}

a {
    color: var(--teal);
    font-weight: inherit;
    text-decoration: none;
    font-weight: 400;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    display: inline-block; 
	text-align: left; 
}

.purple {
    color: var(--purple);
}

.teal {
    color: var(--teal);
}

.grey {
    color: var(--grey);
}


.cta-btn {
    border: 1px solid var(--light-grey);
    background-color: var(--teal);
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0%;
    cursor: pointer;
    text-align: center;
}

.cta-btn-min{
    width: fit-content;
}

.cta-btn:hover {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}
